body {
	background-color: #F7F7F7;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	padding-top: 64px;
	
	
	&:before {
		content: " ";
		display: block;
		width: 100%;
		height: 64px;
		top: 0;
		left: 0;
		position: absolute;
	}
}


#outer-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}

#inner-wrap{
	position: relative;
	width: 100%;
}

.site-header{
	position: fixed;
	top: 0;
	z-index: 505;
	width: 100%;
	height: 100%;
	max-height: 68px;
	border-top: 4px;
	border-top-style: solid;
	border-top-color: $cru-gold;
}

.bg-white{
	position: absolute;
	height: inherit;
	background: #ffffff;
	width: 100%;
}

.navigation-wrapper{
	position: absolute;
	//overflow: hidden;
	width: 100%;
	height: 64px;
	max-height: 100%;
	z-index: 500;
	
	@include vendor(box-shadow, 0 1px 1px rgba(6,8,8,0.1));
}

.small-wrap{
	min-width: 980px;
	@include clearfix();
	
}

.title-group{
	margin: 0;
	display: inline-block;
	float: none;
	height: 64px;
	line-height: 64px;
	text-align: center;
	vertical-align: middle;
	width: 11%;
	
	
	a {
		height: 55px;
		display: inline-block;
		overflow: hidden;
		vertical-align: middle;
		background: none transparent scroll repeat 0 0;
		
	}
}

		.site-logo {
			width: 70px;
			height: 55px;			
			background-image: url("../images/cru-logo.svg");
			background-repeat: no-repeat;
			background-position: top center;
			//background-size: contain;
			margin: 0;
		}


.navigation{
	display: inline-block;
	float: none;
	width: 89%;
	display: inline-block;
	vertical-align: middle;
}

	.site-nav > li > a, .right-nav > li > a,  .topbar-toggle, .topbar-search{
		display: inline-block;
		padding: 0 18px;
		
		color: #3a3a3a;
		font-weight: 300;
		font-size: 15px;
		letter-spacing: 0.9px;
				
		height: 64px;
		line-height: 64px;
		max-height: 100%;
		vertical-align: middle;
		
		@include vendor(transition, all 0.25s ease-in-out);
	
		&:hover{
			background-color: #f7f7f7;
			color: $cru-gold;
			text-decoration: none;
		}
	
	}
	
	.right-nav > li > a{
		font-weight: 400;
	}

	.right-nav{
		float: right;
		text-align: right;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		width: 34%;
	
		& > li{
			display: inline-block;
			padding: 0;
			position: relative;
		}
		
		h3{
			text-align: left;
		}
	}
	
		.right-nav > li > a{
			display: inline-block;
			font-size: 12px;
			font-size: 1.2rem;
		}

	.site-nav{
		float: none;
		margin-bottom: 0;
		width: 66%;
		display: inline-block;
		vertical-align: middle;
	}
	
	.topbar-toggle{
		display: none;
	}

.accessibility, .visuallyhidden {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.nav li .dropdown { 
	position: fixed;
	left: 0;
	background-color: $dark-gray;
	color: #ffffff;
	width: 100% !important;
	overflow: hidden;
	max-height: 0;
	height: auto;
	padding-left: 30px;
	padding-right: 30px;
	
	/* Hover Off */
	@include vendor(transition, max-height,padding .15s ease);
	@include clearfix();
	
	//@include vendor(transform, translate3d(0, -160%, 0));
	//@include vendor(backface-visibility, hidden);
	//@include vendor(perspective, 1000);
	
	h2, h3, h4{
		color: #ffffff;
		
	}
		
}

.site-nav > li{
	position: relative;
}


.no-csstransitions .nav li .dropdown{
	height: 0;
}


.js-is-open{
	&:after{
			content: '';
			height: 0px;
			width: 0px;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $dark-gray;
			position: absolute;
			left: 44%;
			bottom: 0px;
	}
}

.js-dropdown.js-is-open > .dropdown{	
	padding-top: 30px;
	padding-bottom: 30px;
	
	//border-top: 2px solid #f7f7f7;
	max-height: 100%;
	height: auto;
	
	@include vendor(box-shadow,  0 1px 1px rgba(6,8,8,0.1));
	
	/* Hover On */
	@include vendor(transition, max-height,padding .25s ease);
}  

/**
.nav li:hover > .dropdown, .js-dropdown-active, .on .nav > li .dropdown{	
	padding-top: 30px;
	padding-bottom: 30px;
	
	//border-top: 2px solid #f7f7f7;
	max-height: 100%;
	height: auto;
	
	@include vendor(box-shadow,  0 1px 1px rgba(6,8,8,0.1));
	
	@include vendor(transition, max-height,padding .25s ease);
}  

*/


.no-csstransitions .nav li .dropdown {
  height: 0; }

.nav li:hover > .arrow-up {
  display: block; }

.nav li:hover > .dropdown {
  padding-top: 30px;
  padding-bottom: 30px;
  max-height: none;
  height: auto;
  overflow: visible;
  -webkit-box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
  -ms-box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
  -o-box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
  box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
  /* Hover On */
  -webkit-transition: max-height, padding 0.25s ease;
  -moz-transition: max-height, padding 0.25s ease;
  -ms-transition: max-height, padding 0.25s ease;
  -o-transition: max-height, padding 0.25s ease;
  transition: max-height, padding 0.25s ease; 
}


.nav li.dropdown__item:hover{
    &:after{
  		content:' ';
    	width: 0; 
    	height: 0; 
    	border-left: 10px solid transparent;
    	border-right: 10px solid transparent;
    	border-bottom: 10px solid $dark-gray;
    	position: absolute;
    	left: 44%;
    	bottom: 0px;
	
    	@include vendor(transition, display .25s ease);
    }
}


.js-close-button{
	@media screen and (min-width: 61.25em){
		display: none;
	}
}

#flyout{
	position: absolute;
	top: 0;
	padding-top: 5.25rem;
	
	&:not(:target) {
		z-index: 1;
		height: 0;
	}
}


.js-ready #flyout{
	right: -70%;
	height: 100%;
	width: 70%;
	background: #333333;
	-webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
	box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
}

.js-nav #inner-wrap {
	@media screen and (max-width: 61.24em){
		right: 70%;
	}
}

.js-nav #flyout{
	@media screen and (max-width: 61.24em){
		right: 0;
	}
}

.js-nav .site-header{
	@media screen and (max-width: 61.24em){
		position: absolute;	
	}
}

.js-nav body{
	@media screen and (max-width: 61.24em){
		padding-top: 0;		
	}
}

.js-nav #main{
	padding-top: 67px;
}

.grid{
	@include clearfix();
	
}

#flyout .js-close-button {
	position: absolute;
	top: 2.1rem;
	right: 1.75rem;
}

.is-hidden, .is-visible{
    @include vendor(transition, all 0.5s);
}

.is-hidden{	
    -webkit-transform: translateY(-6em);
    -ms-transform: translateY(-6em);
    transform: translateY(-6em);
	
	.nav li > .dropdown{
		height: 0;
		overflow: hidden;
	    @include vendor(transition, all 0s);
		visibility: hidden;
		
	}
}

.is-visible {	
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  
	.nav li > .dropdown{
	    -webkit-transform: none;
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	}
}
