/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
.lt-ie8 .title-group {
  float: left; }
.lt-ie8 .navigation {
  float: left; }
.lt-ie8 .site-nav {
  float: left; }
.lt-ie8 .right-nav {
  float: right; }
.lt-ie8 .nav > li {
  display: inline; }

.lt-ie9 #flyout {
  display: none; }
.lt-ie9 .site-header {
  background-color: #ffffff; }
.lt-ie9 .navigation-wrapper {
  min-width: 980px; }

.right-nav {
  float: right;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  width: 34%; }
  .right-nav .icon-hamburger {
    display: none; }

.site-nav {
  float: left;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  width: 66%; }

.no-svg .site-logo {
  background-image: url("../images/cru-logo.png"); }

.right-nav > li a {
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem; }
