/*------------------------------------*\
    $FONTS
\*------------------------------------*/
/**
 * Freight Sans Font Family
 */
@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProLig.otf'); 
	font-weight: 100;
} 
@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProBook.otf');
	font-weight: 300; 
}

@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProBookIt.otf'); 
	font-weight: 300;
	font-style: italic;
}

@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProMed.otf'); 
	font-weight: 400;
}
@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProSem.otf'); 
	font-weight: 500;
}

@font-face { 
	font-family: "Freight Sans Pro"; 
	src: url('../fonts/FreigSanProBook.otf'); 
	font-weight: 200;
}

/**
 * Cruicons
 */

@font-face {
  font-family: 'cruicons';
  src: url('cruicons.eot');
  src: url('../fonts/cruicons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cruicons.woff') format('woff'),
       url('../fonts/cruicons.ttf') format('truetype'),
       url('../fonts/cruicons.svg#cruicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "cruicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e806'; } /* '' */
.icon-hamburger:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */